    <!-- About Section -->
    <section id="about" class="container content-section text-center">
    
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About</h2>
                    <div class="lead">
              We are a computational materials modelling group in the Materials and Metallurgy Department of the University of Birmingham. We use density-functional theory and other atomistic level modelling techniques to discover new materials for energy applications.
              <br>The creation of new materials is both difficult and expensive. It is very difficult to “see” the structure of these materials over the length scales that they work and very expensive to create prototype materials to test. Whilst experimental physics can use x-rays, high energy electrons or neutrons to infer the structure of these materials, this inference is made much more robust when combined with theoretical predictions of the kinds of structures that can be formed. In a computer we use quantum mechanical calculations to simulate the results of these kinds of experiments, helping to understand materials and suggest new materials with the kind of properties desired.
                </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 verticalcenter">
                    <!-- this is bad im just addin a bunch of breaks -->
                    <br><br><br>
                    <br><br><br>
                    <br><br><br>
                    <img class="img-responsive" src="images/Group-ajm4.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    </section>
